<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
		<add id="MGS_Fbuilder::mgs_fbuilder" title="Page Builder" module="MGS_Fbuilder" sortOrder="20" parent="Magento_Backend::mgs" resource="MGS_Fbuilder::mgs_fbuilder"/>
		<add id="MGS_Mpanel::fbuilder_setting" title="Page Builder Setting" module="MGS_Fbuilder" sortOrder="10" parent="MGS_Fbuilder::mgs_fbuilder" action="adminhtml/system_config/edit/section/fbuilder" resource="MGS_Mpanel::fbuilder_setting"/>
    </menu>
</config>
